        <div class="mai-separator-3"></div>
        
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
                <div class="row valign-wrapper">
                    <!-- User photo -->
                    <div class="col s3" id="mai-user-photo">
                        <img class="responsive-img circle" src="{{writer.profile_url}}" alt="{{writer.fullname}}">
                    </div>
                    
                    <!-- User stats -->
                    <div class="col s9">
                        <div class="row" id="mai-user-stats">
                            <div class="col s12 center-align">
                                <span id="mai-fullname">{{writer.fullname}}</span><span class="new badge blue-grey darken-2 pulse">{{writer.numNewStories}}</span>
                            </div>

                            <div class="col s4 center-align grey-text text-lighten-1">
                                <span class="black-text" id="mai-numStories">{{writer.numStories}}</span><br>stories
                            </div>

                            <div class="col s4 center-align grey-text text-lighten-1">
                                <span class="black-text" id="mai-numWriters">{{writer.numWriters}}</span><br>writers
                            </div>
                            
                            <div class="col s4 center-align grey-text text-lighten-1">
                                <span class="black-text" id="mai-numReaders">{{writer.numReaders}}</span><br>readers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- User stories -->
            {{#each writer.stories}}
            <div class="col s12 m6 l4 xl3">
                <div class="card hoverable">
                    <div class="card-image mai-card-preview">
                        <a href="/story_{{this.id}}"><img class="responsive-img" src="{{this.url}}"></a>
                        {{#if ../editable}}
                        <a href="/edit-story_{{../mai-id}}&{{this.id}}" class="btn-floating btn-large halfway-fab waves-effect waves-light yellow darken-2"><i class="large material-icons">mode_edit</i></a>
                        {{/if}}
                    </div>
                    <div class="card-content">
                        <p>{{this.title}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="mai-separator-3"></div>